body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.landing{
    display: flex; 
    margin-top: 5px;
    height: 90px;  
    justify-content: space-between;
}

.logo{
    display: flex;
    padding-left: 30px;
    color: #033835;
}
.menu{
display: flex;
width: 50vw;
padding-left: 25px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.icons{
    display: flex;
    width: 155px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 10px;
    padding: 15px;
}

.Image_section{
display: flex;
position: relative;
height: 572px;
padding: 25px 50px;
align-items: center;
justify-content: flex-end;
gap: 10px;
position: relative;

}

.text{
  display: flex;
  width: 300px;
  flex-direction: column;
  position: absolute;
  left: 100px;
  top: 200px;
  z-index: 1;
  background: linear-gradient(180deg, #E9F1F6 0%, #FFF 0.01%, rgba(233, 241, 246, 0.00) 100%);
}

.texttt{
color: #033835;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}